body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    font-family: 'Arial', sans-serif;
}

.header {
    color: aliceblue;
    font-size: 18px;
    font-weight: 900;
}

.main {
    flex: 0 0 auto;
    height: 512px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: solid double;
    border-radius: 16px;
    padding: 8px;
    background-color: #1C1C1C;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 330px;
    height: 148px;
    border-radius: 12px;
    margin-bottom: 12px;
    background-color: #D4D4D2;
}

.inputField, .opField {
    flex: 0 1 35px;
    background-color: #D4D4D2;
    text-align: right;
    font-size: 22px;
    font-weight: 800;
    border: none;
    color: green;
}

.opField {
    text-align: left;
}

.rows {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 900;
    padding: 12px;
    width: 42px;
    height: 42px;
    background-color: #505050;
    border-radius: 50%;
}

.button:hover {
    opacity: 0.7;
}

.yellow {
    background-color: #FF9500;
}

.rows:nth-last-of-type(5) .button:nth-child(-n +3)  {
    background-color: #D4D4D2;
    color: #1C1C1C;
}

.zeroButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 112px;
    border-radius: 32px;
    padding-left: 24px;
}

.footer {
    flex: 1 1 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    font-size: 16px;
    font-weight: 800;
}

.githubLink {
    text-decoration: none;
    color: #D4D4D2;
}

.fa {
    margin-left: 8px;
}

.fa:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 600px) {
    body {
        height: 100vh;
    }

    .header {
        margin-top: 42px;
        margin-bottom: 24px;
    }

    .inputContainer {
        height: 124px;
        margin-top: 42px;
        margin-bottom: 32px;
    }

    .inputField {
        height: 100%;
    }

    .main {
        margin-bottom: 0;
        height: 550px;
        padding: 16px;
    }

    .footer {
        max-height: 102px;
    }

    .rows {
        gap: 8px;
    }
}